/* Responsive untuk tablet */
@media (max-width: 1000px) {
  /* Code Dibawah */
  h1 {
    color: red;
  }
  /* Bagian Header */
  p {
    color: blueviolet;
  }
  /*Akhir Bagian Header */

  /* Bagian Main */

  /*Akhir Bagian Main */

  /* Bagian Body */
  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  /*Akhir Bagian Body */
  .lesson {
    width: 100%;
  }
  /* Bagian Footer */

  /*Akhir Bagian Footer */
}

/* Responsive untuk mobile */
@media (max-width: 670px) {
  /* Code Dibawah */
  h1 {
    color: blue;
  }
  /* Bagian Header */

  /*Akhir Bagian Header */

  /* Bagian Main */

  /*Akhir Bagian Main */

  /* Bagian Body */

  /*Akhir Bagian Body */

  /* Bagian Footer */

  /*Akhir Bagian Footer */
}
