/* Responsive untuk tablet */
@media (max-width: 1000px) {
  /* Code Dibawah */
  h1 {
    color: red;
  }
  /* Bagian Header */
  p {
    color : blueviolet
  }
  /*Akhir Bagian Header */

  /* Bagian Main */

  /*Akhir Bagian Main */

  /* Bagian Body */

  /*Akhir Bagian Body */

  /* Bagian Footer */

  /*Akhir Bagian Footer */
}

/* Responsive untuk mobile */
@media (max-width: 670px) {
  /* Code Dibawah */
  h1 {
    color: blue;
  }
  /* Bagian Header */

  /*Akhir Bagian Header */

  /* Bagian Main */

  /*Akhir Bagian Main */

  /* Bagian Body */

  /*Akhir Bagian Body */

  /* Bagian Footer */

  /*Akhir Bagian Footer */
}
