* {
  box-sizing: border-box;
  margin: 0;
}

/* Bagian Header */

/*Akhir Bagian Header */

/* Bagian Main */
.main {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.main-header {
  margin-bottom: 30px;
  font-size: 40px;
}
.main-logo {
  float: left;
  width: 25%;
}
.main-image {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}
.more-main {
  text-align: left;
  font-weight: bold;
  padding-left: 50px;
  color: rgb(37, 48, 110);
  width: 100%;
}
.more-main li {
  padding-bottom: 10px;
  font-size: 20px;
}
.more-main p {
  padding-bottom: 10px;
}
.more-main a {
  padding: 5px 6px;
  background-color: crimson;
  float: right;
  color: white;
}
.main-image .more-main {
  position: absolute;
  top: 30px;
  padding-bottom: 2px;
  visibility: hidden;
}
.main-image:hover .more-main {
  visibility: visible;
}
.main-image:hover img {
  opacity: 0.2;
}
.text-bottom {
  margin-top: 10px;
  letter-spacing: 5px;
}
/*Akhir Bagian Main */

/* Bagian Body */
.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid rgb(79, 241, 4);
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #15eb80;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

/* Ketik code Anda dibawah */
span.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

/* Bagian Footer */

/*Akhir Bagian Footer */
